.loginPageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url("../../public/login/login_bg.webp") no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: calc(20vh * 506 / 217);
    height: 20vh;
    top: 5vh;
    background: url("../../public/login/logo_bg.webp") no-repeat center center;
    background-size: contain;
}

.loginForm {
    padding: 10vh 10vh;
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginFormItem {
    height: 5vh;
}

.loginFormItemLast {
    margin-bottom: 0;
}

.loginButton {
    height: 5vh;
    width: 100%;
    background-color: rgb(107, 172, 164);
    border-radius: 10vh;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    transition: all 0.3s;
    will-change: border, background-color;
}

.loginButton:hover {
    border: 2px solid rgb(107, 172, 164);
    background-color: #fff;
    color: rgb(107, 172, 164);
}

.loginForgotPasswordLink {
    margin-top: 3vh;
    font-size: large;
    float: right;
    color: rgb(107, 172, 164);
}
