.subTitle{
    width: 68.571rem;
    height: 2.429rem;
    margin-top: 4.143rem;
    background-image: url("../images/activity/sub-title.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.titleUnpacking{
    width: 50rem;
    height: 2rem;
    margin-top: 3.5rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    /*background-image: url("../images/activity/upcoming_events.webp");*/
    /*background-size: cover;*/
}

.titleUnpackingCn{
    width: 50rem;
    height: 1.714rem;
    margin-top: 0.429rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    /*background-image: url("../images/activity/upcoming_cn.webp");*/
    /*background-size: cover;*/
}

.swiperUnpack{
    margin-top: 2.214rem;
}

.swiperHistory{
    margin-top: 2.214rem;
}

.carousel{
    width: 66.857rem;
    height: 30.929rem;
    /*--swiper-pagination-color: #68a69f;*/
    /*:global(.swiper-pagination-bullet-active) {*/
    /*    background-color: #68a69f;*/
    /*}*/
    /*:global(.swiper-pagination-bullet) {*/
    /*    width: 0.9375vw;*/
    /*    height: 0.46875vw;*/
    /*    border-radius: 0.6vw;*/
    /*}*/
    :global(.swiper-slide){
        width: 20.143rem;
        height: 30.929rem;
    }
    :global(.swiper-slide img){
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.swiperUnpack.previousBtn{
    position: absolute;
    width: 5rem;
    height: 4.714rem;
    left: 1.286rem;
    top: 28rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_prev.webp");
    background-size: contain;
    z-index: 10;
}

.swiperUnpack.nextBtn{
    position: absolute;
    width: 5rem;
    height: 4.714rem;
    left: 75.857rem;
    top: 28rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_next.webp");
    background-size: contain;
    z-index: 10;
}

.titleHistory{
    width: 50rem;
    height: 2rem;
    margin-top: 8.357rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    /*background-image: url("../images/activity/history_activities.webp");*/
    /*background-size: contain;*/
}

.titleHistoryCn{
    width: 50rem;
    height: 2rem;
    margin-top: 0.429rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    /*background-image: url("../images/activity/history_cn.webp");*/
    /*background-size: cover;*/
}

.swiperHistory.previousBtn{
    position: absolute;
    width: 5rem;
    height: 4.714rem;
    left: 1.286rem;
    top: 73.571rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_prev.webp");
    background-size: contain;
    z-index: 10;
}

.swiperHistory.nextBtn{
    position: absolute;
    width: 5rem;
    height: 4.714rem;
    left: 75.857rem;
    top: 73.571rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_next.webp");
    background-size: contain;
    z-index: 10;
}


