.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.714rem;
    height: 3.857rem;
    font-size: 1.857rem;
    font-weight: 500;
    background-image: url("../images/general/subtitle_line.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4.143rem;
    margin-bottom: 2.75vw;
}

.searchBarContainer {
    width: 30rem;
    height: 3rem;
    margin-bottom: 9.32275vw;
}

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}