.backButton {
    position: absolute;
    background-image: url("../images/general/back_button.webp");
    background-size: contain;
    width: 3.571rem;
    height: 3.571rem;
    left: 3.357rem;
    top: 3.286rem;
}

.articleTitle {
    position: absolute;
    width: 60%;
    height: 3.571rem;
    top: 8.571rem;
    left: 3.357rem;
}

.author {
    width: 60%;
    position: absolute;
    left: 3.357rem;
    top: 12rem;
}

.content {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 70%;
    justify-content: center;
    margin-top: 15.573vw;
}

.blockquote {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}