.subTitle {
    width: 66.714rem;
    height: 3.857rem;
    background-image: url("../images/blog/subtitle.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4.143rem;
    margin-bottom: 2.75vw;
}

.searchBarContainer {
    width: 32.143rem;
    height: 3rem;
    margin-bottom: 9.32275vw;
}

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}