.background{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../images/homepage/home_background.webp');
    background-size: cover;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.homeItems{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    width: 26.09375vw;
    height: 4.53125vw;
    background-size: contain;
    background-image: url("../images/general/codePaint.webp");
    margin-bottom: 1.458vw;
}

.logo{
    width: 19.479vw;
    height: 18.49vw;
    background-size: contain;
    background-image: url("../images/homepage/logo.webp");
}

.spiltLine{
    width: 15.15625vw;
    height: 0.052vw;
    border: 0.052vw solid #D9D9D9;
    margin-bottom: 0.9375vw;
}

.slogan{
    display: block;
    font-family: Philosopher,sans-serif;
    color: #fff;
    font-size: 1.146vw;
    margin-bottom: 1.71875vw;
    margin-right: 0.15625vw;
}

.button{
    height: 4.115vw;
    width: 4.115vw;
    background-size: contain;
    background-image: url("../images/homepage/button.webp");
    cursor: pointer;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../font/Philosopher.woff2') format('woff2'),
    url('../font/Philosopher.woff') format('woff'),
    url('../font/Philosopher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mainArea{
    display: flex;
    height: 143.021vw;
    padding: 0;
    background-image: url("../images/general/generalBackground.webp");
    background-size: cover;
    justify-content: center;
    scroll-snap-align: start;
}

.mainTitle{
    width: 26.354vw;
    height: 11.302vw;
    background-image: url("../images/general/codePaint.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContainer{
    display: flex;
    /*max-width: 70%;*/
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.introContainer{
    display: flex;
    width: 84.896vw;
    height: 115.625vw;
    position: relative;
    background-color: #fff;
    justify-content: center;
    margin-top: -0.531vw;

    /*z-index: 2;*/
}

.subTitle{
    position: absolute;
    top: 3.75vw;
    width: 48.646vw;
    height: 3.646vw;
    background-image: url("../images/homepage/subtitle.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel{
    position: absolute;
    top: 10vw;
    width: 77.34375vw;
    height: 22.96875vw;
    /*--swiper-pagination-color: #68a69f;*/
    :global(.swiper-pagination-bullet-active) {
        background-color: #68a69f;
    }
    :global(.swiper-pagination-bullet) {
        width: 0.9375vw;
        height: 0.46875vw;
        border-radius: 0.6vw;
    }
}

.previousBtn{
    position: absolute;
    width: 5.417vw;
    height: 5.104vw;
    left: 5.521vw;
    top: 18.385vw;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_prev.webp");
    background-size: contain;
    z-index: 10;
}

.nextBtn{
    position: absolute;
    width: 5.417vw;
    height: 5.104vw;
    left: 74.792vw;
    top: 18.385vw;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_next.webp");
    background-size: contain;
    z-index: 10;
}

.swiper-pagination-bullet-active {
    background: #68a69f; /* 修改选中时的颜色 */
}

.mainImage{
    position: absolute;
    top: 40.365vw;
    width: 77.34375vw;
    height: 35.677vw;
    background-image: url("../images/homepage/home_background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}