/*封面页*/
.background {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../images/homepage/home_background.webp');
    background-color: black;
    background-size: cover;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 26.714rem;
    height: 25.357rem;
    background-size: contain;
    background-image: url("../images/homepage/logo.webp");
}

.homeItems {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #fff;
    font-size: 9.143rem;
    user-select: none;
}

.title span {
    color: #68a69f
}


.spiltLine {
    width: 20.786rem;
    height: 0.214rem;
    background-color: #D9D9D9;
    border: 0.071rem solid #D9D9D9;
    margin-bottom: 1.286rem;
}

.slogan {
    display: block;
    font-family: Philosopher, sans-serif;
    color: #fff;
    font-size: 1.429rem;
    margin-bottom: 2.357rem;
    margin-right: 0.214rem;
}

.button {
    height: 5.643rem;
    width: 5.643rem;
    background-size: contain;
    background-image: url("../images/homepage/button.webp");
    cursor: pointer;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../font/Philosopher.woff2') format('woff2'),
        url('../font/Philosopher.woff') format('woff'),
        url('../font/Philosopher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*主页面*/
.mainContainer {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 0;
    background-image: url("../images/general/generalBackground.webp");
    background-color: black;
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

.introContainer {
    display: flex;
    width: 82.143rem;
    min-height: 64.286rem;
    position: relative;
    background-color: #fff;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.786rem;
    margin-top: 5.357rem;
    width: 66.714rem;
    height: 5rem;
    background-image: url("../images/general/subtitle_line.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mainTitle {
    color: #fff;
    font-size: 5rem;
}

.mainTitle span {
    color: #68a69f
}

.carousel {
    width: 72rem;
    height: 21.357rem;
    margin-top: 3.857rem;

    :global(.swiper-pagination-bullet-active) {
        background-color: #68a69f;
    }

    :global(.swiper-pagination-bullet) {
        width: 0.9375vw;
        height: 0.46875vw;
        border-radius: 0.6vw;
    }
}

.previousBtn {
    position: absolute;
    width: 5.25rem;
    height: 4.9rem;
    left: 6.3rem;
    top: 22.5rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_prev.webp");
    background-size: contain;
    z-index: 10;
}

.nextBtn {
    position: absolute;
    width: 5.25rem;
    height: 4.9rem;
    left: 71.214rem;
    top: 22.5rem;
    cursor: pointer;
    background-image: url("../images/homepage/navigate_next.webp");
    background-size: contain;
    z-index: 10;
}

.swiper-pagination-bullet-active {
    background: #68a69f;
}

.mainContent {
    margin-top: 6.571rem;
    width: 72rem;
    height: 33.214rem;
}