@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.woff2') format('woff2'),
    url('../font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../font/Inter28pt-Black.woff2') format('woff2'),
    url('../font/Inter28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.subTitle{
    width: 66.714rem;
    height: 2.429rem;
    margin-top: 4.143rem;
    background-image: url("../images/joinus/subtitle.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*.subTitleJoin{*/
/*    width: 48.646vw;*/
/*    height: 3.646vw;*/
/*    background-image: url("../images/joinus/subtitle.webp");*/
/*}*/

.titleContactCn{
    width: 80rem;
    height: 1.714rem;
    margin-top: 0.429rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    /*background-image: url("../images/activity/upcoming_cn.webp");*/
    /*background-size: cover;*/
}

.titleContact{
    width: 50rem;
    height: 2rem;
    margin-top: 3.5rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;

    /*background-image: url("../images/activity/upcoming_events.webp");*/
    /*background-size: cover;*/
}

.QRCode{
    width: 15.143rem;
    height: 15.143rem;
    background-color: #b9dad7;
    margin-top: 3rem;
}

.titleFeedback{
    width: 50rem;
    height: 2rem;
    margin-top: 11.786rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    /*background-image: url("../images/activity/upcoming_events.webp");*/
    /*background-size: cover;*/
}

.titleFeedbackCn{
    width: 80rem;
    height: 1.714rem;
    margin-top: 0.429rem;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    /*background-image: url("../images/activity/upcoming_cn.webp");*/
    /*background-size: cover;*/
}

.feedback{
    margin-top: 4.143rem;
}

.feedback > *:last-child {
    margin-bottom: 0;
}

