.mainContainer{
    display: flex;
    height: 143.021vw;
    /*max-width: 70%;*/
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: url("../images/general/generalBackground.webp");
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mainTitle{
    width: 26.354vw;
    height: 11.302vw;
    background-image: url("../images/general/codePaint.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.introContainer{
    display: flex;
    width: 84.896vw;
    height: 115.625vw;
    position: relative;
    background-color: #fff;
    justify-content: center;
    margin-top: -0.531vw;

    /*z-index: 2;*/
}

.subTitle{
    position: absolute;
    top: 3.75vw;
    width: 48.646vw;
    height: 3.646vw;
    background-image: url("../images/joinus/subtitle.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.titleFeedback{
    position: absolute;
    top: 50vw;
    width: 33.021vw;
    height: 2.552vw;
    font-family: "Inter 28pt",sans-serif;
    text-align: center;
    font-size: 3.333vw;
    font-weight: 800;
    /*background-image: url("../images/activity/upcoming_events.webp");*/
    /*background-size: cover;*/
}

.titleFeedbackCn{
    position: absolute;
    top: 54.792vw;
    width: 8.177vw;
    height: 1.979vw;
    font-family: "Inter 28pt",sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    /*background-image: url("../images/activity/upcoming_cn.webp");*/
    /*background-size: cover;*/
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.woff2') format('woff2'),
    url('../font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../font/Inter28pt-Black.woff2') format('woff2'),
    url('../font/Inter28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.feedback{
    position: absolute;
    top: 68.333vw;
    width: 75vw;
}

